<strong>Olá, {{ name }}.</strong>

<p>A sua manifestação foi registrada com sucesso no nosso Portal Fale Conosco. Use o número de protocolo abaixo para
  acompanhar sua solicitação no nosso sistema:</p>

<p><strong>Protocolo: </strong>{{ protocol }}</p>

<p>Todas as respostas da sua manifestação serão notificadas por e-mail.</p>
