<strong>Olá, {{ name }}.</strong>

<p>Você solicitou a recuperação da sua senha de acesso ao Portal do Fale Conosco, do Clube Atlético Aramaçan. Para
  atualizar sua senha, clique no link abaixo:</p>

<p><a href="http://localhost:3000/recovery-pass?email={{email}}&activeCode={{ recoveryPass }}">Recuperar senha</a></p>

<p>Caso não tenha sido você, pode desconsiderar este e-mail.</p>
